
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        nav {
            background-color: #333;
            position: fixed;
            top: 0;
            width: 100%;
            padding: 10px;
            border-radius: 5px;
        }
        nav a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: background-color 0.2s;
            display: flex-end; 
            justify-content: center; 
        }
        nav a:hover {
            background-color: #ddd;
            color: black;
        }
        .content {
            margin-top: 60px;
            padding: 20px;
        }
        section {
            display: none; 
        }
        section.active {
            display: block; 
        }
/* css untuk tampilan home page  */


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
header {
    color: red;
    font-size: 35px;
    text-align: center;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    vertical-align: middle;
}

.text {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

   
